APP_ENV=production

FRONTEND_URL=http://localhost:3000
CORS_ORIGINS=http://localhost:3000
PUBLIC_MEDIA_URL=http://localhost:8080/uploads
JWT_SECRET=change-this-to-a-long-random-secret

NEXT_PUBLIC_API_URL=http://localhost:8080
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_MEDIA_URL=http://localhost:8080/uploads
